<div class="d-flex flex-column mr-3">
  <div class="card mt-3 border-success">
    <div class="card-body d-flex flex-column">
      <img [src]="user.photoURL" class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px;">
      <span class="text-center">{{user.uid}}</span>
      <span class="text-center">{{user.displayName}}</span>
      <span class="text-center">{{user.email}}</span>
      <span class="text-left"><strong>Roles:</strong></span>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" 
          [(ngModel)]="user.roles.admin" 
          [checked]="user.roles.admin" 
          (change)="editRole(user)"
          [disabled]="user.email == 'seferibrahim2@gmail.com' || user.email == loggedInUser.email">
        <label class="form-check-label">
          Admin
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" 
          [(ngModel)]="user.roles.moderator" 
          [checked]="user.roles.moderator" 
          (change)="editRole(user)"
          [disabled]="user.email == 'seferibrahim2@gmail.com' || user.email == loggedInUser.email">
        <label class="form-check-label">
          Moderator
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" 
          [(ngModel)]="user.roles.guest" 
          [checked]="user.roles.guest" 
          (change)="editRole(user)"
          [disabled]="user.email == 'seferibrahim2@gmail.com' || user.email == loggedInUser.email">
        <label class="form-check-label">
          Guest
        </label>
      </div>
    </div>
  </div>
